BookingRest/src/conf/xml-resources/web-service-references/HotelWebService/wsdl/localhost_8080/HotelService/HotelWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dtu.dk/" name="HotelWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://dtu.dk/" schemaLocation="http://localhost:8080/HotelService/HotelWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="resetHotel">
<part name="parameters" element="tns:resetHotel"/>
</message>
<message name="resetHotelResponse">
<part name="parameters" element="tns:resetHotelResponse"/>
</message>
<message name="cancelHotel">
<part name="parameters" element="tns:cancelHotel"/>
</message>
<message name="cancelHotelResponse">
<part name="parameters" element="tns:cancelHotelResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="getHotels">
<part name="parameters" element="tns:getHotels"/>
</message>
<message name="getHotelsResponse">
<part name="parameters" element="tns:getHotelsResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="bookHotel">
<part name="parameters" element="tns:bookHotel"/>
</message>
<message name="bookHotelResponse">
<part name="parameters" element="tns:bookHotelResponse"/>
</message>
<portType name="HotelWebService">
<operation name="resetHotel">
<input wsam:Action="http://dtu.dk/HotelWebService/resetHotelRequest" message="tns:resetHotel"/>
<output wsam:Action="http://dtu.dk/HotelWebService/resetHotelResponse" message="tns:resetHotelResponse"/>
</operation>
<operation name="cancelHotel">
<input wsam:Action="http://dtu.dk/HotelWebService/cancelHotelRequest" message="tns:cancelHotel"/>
<output wsam:Action="http://dtu.dk/HotelWebService/cancelHotelResponse" message="tns:cancelHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.dk/HotelWebService/cancelHotel/Fault/Exception"/>
</operation>
<operation name="getHotels">
<input wsam:Action="http://dtu.dk/HotelWebService/getHotelsRequest" message="tns:getHotels"/>
<output wsam:Action="http://dtu.dk/HotelWebService/getHotelsResponse" message="tns:getHotelsResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://dtu.dk/HotelWebService/getHotels/Fault/ParseException"/>
</operation>
<operation name="bookHotel">
<input wsam:Action="http://dtu.dk/HotelWebService/bookHotelRequest" message="tns:bookHotel"/>
<output wsam:Action="http://dtu.dk/HotelWebService/bookHotelResponse" message="tns:bookHotelResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://dtu.dk/HotelWebService/bookHotel/Fault/Exception"/>
</operation>
</portType>
<binding name="HotelWebServicePortBinding" type="tns:HotelWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="resetHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="getHotels">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="bookHotel">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
</binding>
<service name="HotelWebService">
<port name="HotelWebServicePort" binding="tns:HotelWebServicePortBinding">
<soap:address location="http://localhost:8080/HotelService/HotelWebService"/>
</port>
</service>
</definitions>