BookingRest/src/conf/xml-resources/web-service-references/AirlineWebService/wsdl/localhost_8080/AirlineService/AirlineWebService.xsd_2.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://dtu.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dtu.dk/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="bookFlight" type="tns:bookFlight"/>

<xs:element name="bookFlightResponse" type="tns:bookFlightResponse"/>

<xs:element name="cancelFlight" type="tns:cancelFlight"/>

<xs:element name="cancelFlightResponse" type="tns:cancelFlightResponse"/>

<xs:element name="getFlights" type="tns:getFlights"/>

<xs:element name="getFlightsResponse" type="tns:getFlightsResponse"/>

<xs:element name="resetAirline" type="tns:resetAirline"/>

<xs:element name="resetAirlineResponse" type="tns:resetAirlineResponse"/>

<xs:complexType name="resetAirline">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="resetAirlineResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlights">
<xs:sequence>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFlightsResponse">
<xs:sequence>
<xs:element name="return" type="tns:flightInfo" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="flightInfo">
<xs:sequence>
<xs:element name="origin" type="xs:string" minOccurs="0"/>
<xs:element name="destination" type="xs:string" minOccurs="0"/>
<xs:element name="bookingNumber" type="xs:string" minOccurs="0"/>
<xs:element name="reservationService" type="xs:string" minOccurs="0"/>
<xs:element name="carrier" type="xs:string" minOccurs="0"/>
<xs:element name="startDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="endDate" type="xs:dateTime" minOccurs="0"/>
<xs:element name="price" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookFlight">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:string" minOccurs="0"/>
<xs:element name="year" type="xs:int"/>
<xs:element name="month" type="xs:int"/>
<xs:element name="number" type="xs:string" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookFlightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelFlight">
<xs:sequence>
<xs:element name="bookingNumber" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelFlightResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>