BookingAppClient/src/META-INF/wsdl/192.168.1.5_9080/BookingApp-sun-http-binding/BookingBPEL/BookingService.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:ns="http://bookingserviceSchema.ws" xmlns:tns="http://bookingservice.ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://bookingserviceSchema.ws">
    <xsd:simpleType name="itineraryIdType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:element name="hotelList" nillable="true" type="ns:hotelListType"/>
    <xsd:element name="flightList" nillable="true" type="ns:flightListType"/>
    <xsd:element name="itinery" nillable="true" type="ns:itineryType"/>
    
    
    <xsd:complexType name="itineryType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="flights" type="ns:flightListType"/>
            <xsd:element name="hotels" type="ns:hotelListType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotelListType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="reservation" type="ns:hotelReservation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="hotelReservation">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="bookingNumber" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightListType">
        <xsd:sequence maxOccurs="unbounded" minOccurs="0">
            <xsd:element name="reservation" type="ns:flightReservation"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="flightReservation">
        <xsd:sequence>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="bookingNumber" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
