BookingAppClient/src/META-INF/wsdl/192.168.1.5_9080/BookingApp-sun-http-binding/BookingBPEL/localhost_8080/HotelService/HotelWebService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:ns1="http://types.fastmoney.imm.dtu.dk" xmlns:tns="http://dtu.dk/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dtu.dk/" version="1.0">


<xs:element name="bookHotel" type="tns:bookHotel"/>

<xs:element name="bookHotelResponse" type="tns:bookHotelResponse"/>

<xs:element name="cancelHotel" type="tns:cancelHotel"/>

<xs:element name="cancelHotelResponse" type="tns:cancelHotelResponse"/>

<xs:element name="resetHotel" type="tns:resetHotel"/>

<xs:element name="resetHotelResponse" type="tns:resetHotelResponse"/>

<xs:element name="getHotels" type="tns:getHotels"/>

<xs:element name="getHotelsResponse" type="tns:getHotelsResponse"/>

<xs:complexType name="bookHotel">
<xs:sequence>
<xs:element minOccurs="0" name="bookingNumber" type="xs:string"/>
<xs:element minOccurs="0" name="name" type="xs:string"/>
<xs:element minOccurs="0" name="year" type="xs:integer"/>
<xs:element minOccurs="0" name="month" type="xs:integer"/>
<xs:element minOccurs="0" name="number" type="xs:integer"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="bookHotelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotel">
<xs:sequence>
<xs:element minOccurs="0" name="bookingNumber" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cancelHotelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="resetHotel">
</xs:complexType>

<xs:complexType name="resetHotelResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>


<xs:complexType name="getHotels">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="arrivalDate" type="xs:string"/>
<xs:element minOccurs="0" name="departureDate" type="xs:string"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHotelsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="tns:booking"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="booking">
<xs:sequence>
<xs:element minOccurs="0" name="city" type="xs:string"/>
<xs:element minOccurs="0" name="hotel" type="xs:string"/>
<xs:element minOccurs="0" name="arrivalDate" type="xs:string"/>
<xs:element minOccurs="0" name="departureDate" type="xs:string"/>
<xs:element minOccurs="0" name="status" type="xs:string"/>
<xs:element minOccurs="0" name="bookingNumber" type="xs:string"/>
<xs:element minOccurs="0" name="totalPrice" type="xs:double"/>
<xs:element minOccurs="0" name="creditcardGuarantee" type="xs:boolean"/>

</xs:sequence>
</xs:complexType>

</xs:schema>
