BookingAppClient/src/META-INF/wsdl/localhost_9080/service1/BookingServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:bss="urn://http://bookingserviceSchema.ws" xmlns:ns0="http://dtu.dk/" xmlns:ns1="http://bookingserviceSchema.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookingservice.ws" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://bookingservice.ws">
  <types>
    <xsd:schema targetNamespace="http://bookingservice.ws">
            <xsd:import namespace="http://dtu.dk/" schemaLocation="http://192.168.1.5:9080/BookingApp-sun-http-binding/BookingBPEL/localhost_8080/HotelService/HotelWebService.xsd_1.xsd"/>
            <xsd:import namespace="http://bookingserviceSchema.ws" schemaLocation="http://192.168.1.5:9080/BookingApp-sun-http-binding/BookingBPEL/BookingService.xsd"/>
            <xsd:complexType name="hotelList">
                <xsd:complexContent>
                    <xsd:extension xmlns:ns="http://bookingserviceSchema.ws" base="ns1:hotelListType">
                        <xsd:sequence/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
            <xsd:complexType name="flightList">
                <xsd:complexContent>
                    <xsd:extension xmlns:ns="http://bookingserviceSchema.ws" base="ns1:flightListType">
                        <xsd:sequence/>
                    </xsd:extension>
                </xsd:complexContent>
            </xsd:complexType>
        </xsd:schema>
  </types>
  <message name="CancelItineraryResponse">
    <part name="status" type="tns:hotelList">
    </part>
  </message>
  <message name="GetHotelsRequest">
    <part name="city" type="xsd:string">
    </part>
    <part name="arrival" type="xsd:string">
    </part>
    <part name="departure" type="xsd:string">
    </part>
    <part name="itineraryId" type="xsd:string">
    </part>
  </message>
  <message name="ListItineraryResponse">
    <part name="status" type="tns:hotelList">
    </part>
  </message>
  <message name="CancelItineraryRequest">
    <part name="itineraryId" type="xsd:string">
    </part>
  </message>
  <message name="ListItineraryRequest">
    <part name="itineraryId" type="xsd:string">
    </part>
  </message>
  <message name="AddHotelResponse">
    <part name="status" type="tns:hotelList">
    </part>
  </message>
  <message name="BookItineraryRequest">
    <part name="itineraryId" type="xsd:string">
    </part>
    <part name="name" type="xsd:string">
    </part>
    <part name="number" type="xsd:integer">
    </part>
    <part name="month" type="xsd:integer">
    </part>
    <part name="year" type="xsd:integer">
    </part>
  </message>
  <message name="AddHotelRequest">
    <part name="bookingNumber" type="xsd:string">
    </part>
    <part name="itineraryId" type="xsd:string">
    </part>
  </message>
  <message name="BookItineraryResponse">
    <part name="status" type="tns:hotelList">
    </part>
  </message>
  <message name="CreateItineraryRequest">
    <part name="itineraryId" type="xsd:string">
    </part>
  </message>
  <message name="CreateItineraryResponse">
    <part name="itineraryIdResponse" type="xsd:string">
    </part>
  </message>
  <message name="GetHotelsResponse">
    <part name="hotelList" type="ns0:getHotelsResponse">
    </part>
  </message>
  <portType name="BookingServicePortType">
    <operation name="CreateItinerary">
      <input message="tns:CreateItineraryRequest" name="CreateItineraryRequest">
    </input>
      <output message="tns:CreateItineraryResponse" name="CreateItineraryResponse">
    </output>
    </operation>
    <operation name="GetHotels">
      <input message="tns:GetHotelsRequest" name="GetHotelsRequest">
    </input>
      <output message="tns:GetHotelsResponse" name="GetHotelsResponse">
    </output>
    </operation>
    <operation name="AddHotel">
      <input message="tns:AddHotelRequest" name="AddHotelRequest">
    </input>
      <output message="tns:AddHotelResponse" name="AddHotelResponse">
    </output>
    </operation>
    <operation name="CancelItinerary">
      <input message="tns:CancelItineraryRequest" name="CancelItineraryRequest">
    </input>
      <output message="tns:CancelItineraryResponse" name="CancelItineraryResponse">
    </output>
    </operation>
    <operation name="ListItinerary">
      <input message="tns:ListItineraryRequest" name="ListItineraryRequest">
    </input>
      <output message="tns:ListItineraryResponse" name="ListItineraryResponse">
    </output>
    </operation>
    <operation name="BookItinerary">
      <input message="tns:BookItineraryRequest" name="BookItineraryRequest">
    </input>
      <output message="tns:BookItineraryResponse" name="BookItineraryResponse">
    </output>
    </operation>
  </portType>
  <binding name="BookingServicePortTypeBinding" type="tns:BookingServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateItinerary">
      <soap:operation/>
      <input name="CreateItineraryRequest">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </input>
      <output name="CreateItineraryResponse">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </output>
    </operation>
    <operation name="GetHotels">
      <soap:operation/>
      <input name="GetHotelsRequest">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </input>
      <output name="GetHotelsResponse">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </output>
    </operation>
    <operation name="CancelItinerary">
      <soap:operation/>
      <input name="CancelItineraryRequest">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </input>
      <output name="CancelItineraryResponse">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </output>
    </operation>
    <operation name="AddHotel">
      <soap:operation/>
      <input name="AddHotelRequest">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </input>
      <output name="AddHotelResponse">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </output>
    </operation>
    <operation name="ListItinerary">
      <soap:operation/>
      <input name="ListItineraryRequest">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </input>
      <output name="ListItineraryResponse">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </output>
    </operation>
    <operation name="BookItinerary">
      <soap:operation/>
      <input name="BookItineraryRequest">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </input>
      <output name="BookItineraryResponse">
        <soap:body namespace="http://bookingservice.ws" use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="service1">
    <port binding="tns:BookingServicePortTypeBinding" name="BookingServicePortTypeBindingPort">
      <soap:address location="http://192.168.1.5:9080/service"/>
    </port>
  </service>
    <plnk:partnerLinkType name="BookingService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="BookingServicePortTypeRole" portType="tns:BookingServicePortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryId" type="ns1:itineraryIdType"/>
    <vprop:propertyAlias messageType="tns:CreateItineraryRequest" part="itineraryId" propertyName="tns:itineraryId"/>
    <vprop:propertyAlias messageType="tns:GetHotelsRequest" part="itineraryId" propertyName="tns:itineraryId"/>
    <vprop:propertyAlias messageType="tns:AddHotelRequest" part="itineraryId" propertyName="tns:itineraryId"/>
    <vprop:propertyAlias messageType="tns:BookItineraryRequest" part="itineraryId" propertyName="tns:itineraryId"/>
    <vprop:propertyAlias messageType="tns:ListItineraryRequest" part="itineraryId" propertyName="tns:itineraryId"/>
    <vprop:propertyAlias messageType="tns:CancelItineraryRequest" part="itineraryId" propertyName="tns:itineraryId"/>
</definitions>
