BookingAppClient/src/META-INF/wsdl/localhost_9080/service1/BookingServicePort.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:ns0="http://dtu.dk/" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://bookingservice.ws" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BookingService" targetNamespace="http://bookingservice.ws">
  <types>
    <xsd:schema targetNamespace="http://bookingservice.ws">
            <xsd:import namespace="http://dtu.dk/" schemaLocation="http://localhost:8080/HotelService/HotelWebService?xsd=2"/>
        </xsd:schema>
  </types>
  <message name="GetHotelsRequest">
    <part name="city" type="xsd:string">
    </part>
    <part name="arrival" type="xsd:string">
    </part>
    <part name="departure" type="xsd:string">
    </part>
  </message>
  <message name="CreateItineraryRequest">
  </message>
  <message name="CreateItineraryResponse">
    <part name="itineraryId" type="xsd:string">
    </part>
  </message>
  <message name="GetHotelsResponse">
    <part name="hotelList" type="ns0:getHotelsResponse">
    </part>
  </message>
  <portType name="BookingServicePortType">
    <operation name="CreateItinerary">
      <input message="tns:CreateItineraryRequest" name="CreateItineraryRequest">
    </input>
      <output message="tns:CreateItineraryResponse" name="CreateItineraryResponse">
    </output>
    </operation>
    <operation name="GetHotels">
      <input message="tns:GetHotelsRequest" name="GetHotelsRequest">
    </input>
      <output message="tns:GetHotelsResponse" name="GetHotelsResponse">
    </output>
    </operation>
  </portType>
  <binding name="BookingServicePortTypeBinding" type="tns:BookingServicePortType">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CreateItinerary">
      <soap:operation/>
      <input name="CreateItineraryRequest">
        <soap:body use="literal"/>
      </input>
      <output name="CreateItineraryResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="GetHotels">
      <soap:operation/>
      <input name="GetHotelsRequest">
        <soap:body use="literal"/>
      </input>
      <output name="GetHotelsResponse">
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="service1">
    <port binding="tns:BookingServicePortTypeBinding" name="BookingServicePortTypeBindingPort">
      <soap:address location="http://localhost:9080/service"/>
    </port>
  </service>
    <plnk:partnerLinkType name="BookingService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="BookingServicePortTypeRole" portType="tns:BookingServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
