BookingBPEL/src/BookingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BookingService" targetNamespace="http://bookingservice.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bookingservice.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://dtu.dk/">
    <types>
        <xsd:schema targetNamespace="http://bookingservice.ws" xmlns:tns="http://bookingservice.ws">
            <xsd:import namespace="http://dtu.dk/" schemaLocation="http://localhost:8080/HotelService/HotelWebService?xsd=2"/>
        </xsd:schema>
    </types>
    <message name="CreateItineraryRequest"></message>
    <message name="CreateItineraryResponse">
        <part name="itineraryId" type="xsd:string"/>
    </message>
    <message name="GetHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="arrival" type="xsd:date"/>
        <part name="departure" type="xsd:date"/>
    </message>
    <message name="GetHotelsResponse">
        <part name="hotelList" type="ns0:getHotelsResponse"/>
    </message>
    <portType name="BookingServicePortType">
        <operation name="CreateItinerary">
            <input name="CreateItineraryRequest" message="tns:CreateItineraryRequest"/>
            <output name="CreateItineraryResponse" message="tns:CreateItineraryResponse"/>
        </operation>
        <operation name="GetHotels">
            <input name="GetHotelsRequest" message="tns:GetHotelsRequest"/>
            <output name="GetHotelsResponse" message="tns:GetHotelsResponse"/>
        </operation>
    </portType>
    <plnk:partnerLinkType name="BookingService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="BookingServicePortTypeRole" portType="tns:BookingServicePortType"/>
    </plnk:partnerLinkType>
</definitions>
