BookingBPEL/src/BookingService.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://bookingserviceSchema.ws"
    xmlns:tns="http://bookingservice.ws"
    elementFormDefault="qualified">
    <xsd:simpleType name="itineraryIdType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:complexType name="hotelList">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="hotelBooking">
                <xsd:complexType>
                    <xsd:sequence/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
