BookingBPEL/src/BookingService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="BookingService" targetNamespace="http://bookingservice.ws"
    xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:bss="urn://http://bookingserviceSchema.ws"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://bookingservice.ws" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:ns0="http://dtu.dk/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://bookingserviceSchema.ws" xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop">
    <types>
        <xsd:schema targetNamespace="http://bookingservice.ws" xmlns:tns="http://bookingservice.ws">
            <xsd:import namespace="http://dtu.dk/" schemaLocation="http://localhost:8080/HotelService/HotelWebService?xsd=2"/>
            <xsd:import schemaLocation="BookingService.xsd" namespace="http://bookingserviceSchema.ws"/>
        </xsd:schema>
    </types>
    <message name="CreateItineraryRequest">
        <part name="itineraryId" type="xsd:string"/>
    </message>
    <message name="CreateItineraryResponse">
        <part name="itineraryIdResponse" type="xsd:string"/>
    </message>
    <message name="GetHotelsRequest">
        <part name="city" type="xsd:string"/>
        <part name="arrival" type="xsd:string"/>
        <part name="departure" type="xsd:string"/>
        <part name="itineraryId" type="xsd:string"/>
    </message>
    <message name="GetHotelsResponse">
        <part name="hotelList" type="ns0:getHotelsResponse"/>
    </message>
    <message name="AddHotelRequest">
        <part name="bookingNumber" type="xsd:string"/>
    </message>
    <message name="AddHotelResponse">
        <part name="status" type="xsd:string"/>
    </message>
    <portType name="BookingServicePortType">
        <operation name="CreateItinerary">
            <input name="CreateItineraryRequest" message="tns:CreateItineraryRequest"/>
            <output name="CreateItineraryResponse" message="tns:CreateItineraryResponse"/>
        </operation>
        <operation name="GetHotels">
            <input name="GetHotelsRequest" message="tns:GetHotelsRequest"/>
            <output name="GetHotelsResponse" message="tns:GetHotelsResponse"/>
        </operation>
        <operation name="AddHotel">
            <input name="AddHotelRequest" message="tns:AddHotelRequest"/>
            <output name="AddHotelResponse" message="tns:AddHotelResponse"/>
        </operation>
    </portType>
    <binding name="BookingServicePortTypeBinding" type="tns:BookingServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreateItinerary">
            <soap:operation/>
            <input name="CreateItineraryRequest">
                <soap:body use="literal" namespace="http://bookingservice.ws"/>
            </input>
            <output name="CreateItineraryResponse">
                <soap:body use="literal" namespace="http://bookingservice.ws"/>
            </output>
        </operation>
        <operation name="GetHotels">
            <soap:operation/>
            <input name="GetHotelsRequest">
                <soap:body use="literal" namespace="http://bookingservice.ws"/>
            </input>
            <output name="GetHotelsResponse">
                <soap:body use="literal" namespace="http://bookingservice.ws"/>
            </output>
        </operation>
        <operation name="AddHotel">
            <input name="AddHotelRequest"/>
            <output name="AddHotelResponse"/>
        </operation>
    </binding>
    <service name="service1">
        <port name="BookingServicePortTypeBindingPort" binding="tns:BookingServicePortTypeBinding">
            <soap:address location="http://localhost:${HttpDefaultPort}/service"/>
        </port>
    </service>
    <plnk:partnerLinkType name="BookingService">
        <!-- A partner link type is automatically generated when a new port type is added. Partner link types are used by BPEL processes. 
In a BPEL process, a partner link represents the interaction between the BPEL process and a partner service. Each partner link is associated with a partner link type.
A partner link type characterizes the conversational relationship between two services. The partner link type can have one or two roles.-->
        <plnk:role name="BookingServicePortTypeRole" portType="tns:BookingServicePortType"/>
    </plnk:partnerLinkType>
    <vprop:property name="itineraryId" type="ns1:itineraryIdType"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:CreateItineraryRequest" part="itineraryId"/>
    <vprop:propertyAlias propertyName="tns:itineraryId" messageType="tns:GetHotelsRequest" part="itineraryId"/>
</definitions>
