ArlineClient/src/META-INF/wsdl/localhost_8080/AirlineService/AirlineWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dtu.dk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://dtu.dk/" name="AirlineWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://types.fastmoney.imm.dtu.dk" schemaLocation="http://localhost:8080/AirlineService/AirlineWebService?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://dtu.dk/" schemaLocation="http://localhost:8080/AirlineService/AirlineWebService?xsd=2"/>
</xsd:schema>
</types>
<message name="getFlights">
<part name="parameters" element="tns:getFlights"/>
</message>
<message name="getFlightsResponse">
<part name="parameters" element="tns:getFlightsResponse"/>
</message>
<message name="bookFlight">
<part name="parameters" element="tns:bookFlight"/>
</message>
<message name="bookFlightResponse">
<part name="parameters" element="tns:bookFlightResponse"/>
</message>
<message name="cancelFlight">
<part name="parameters" element="tns:cancelFlight"/>
</message>
<message name="cancelFlightResponse">
<part name="parameters" element="tns:cancelFlightResponse"/>
</message>
<portType name="AirlineWebService">
<operation name="getFlights">
<input wsam:Action="http://dtu.dk/AirlineWebService/getFlightsRequest" message="tns:getFlights"/>
<output wsam:Action="http://dtu.dk/AirlineWebService/getFlightsResponse" message="tns:getFlightsResponse"/>
</operation>
<operation name="bookFlight">
<input wsam:Action="http://dtu.dk/AirlineWebService/bookFlightRequest" message="tns:bookFlight"/>
<output wsam:Action="http://dtu.dk/AirlineWebService/bookFlightResponse" message="tns:bookFlightResponse"/>
</operation>
<operation name="cancelFlight">
<input wsam:Action="http://dtu.dk/AirlineWebService/cancelFlightRequest" message="tns:cancelFlight"/>
<output wsam:Action="http://dtu.dk/AirlineWebService/cancelFlightResponse" message="tns:cancelFlightResponse"/>
</operation>
</portType>
<binding name="AirlineWebServicePortBinding" type="tns:AirlineWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFlights">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="bookFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="cancelFlight">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="AirlineWebService">
<port name="AirlineWebServicePort" binding="tns:AirlineWebServicePortBinding">
<soap:address location="http://localhost:8080/AirlineService/AirlineWebService"/>
</port>
</service>
</definitions>